.navbar {
    background-image: url('../../misc/Navbar.png');
    max-height: 60px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px !important;
}

.MuiToolbar-regular {
    max-height: 60px !important;
    min-height: 50px !important;
}

.navbar > .MuiTypography-root {
    margin-right: 35px;
    font-size: 36px;
}
.navbar > .MuiSvgIcon-root {
    cursor: pointer;
    transition: 300ms ease-in-out all;
    font-size: 30px;
    margin-right: 20px;
}

.dropdown__menu {
    display: none !important;
}

.dropdown__close {
    cursor: pointer;
    transition: 300ms ease-in-out all;
    display: none !important;
    font-size: 30px;
    margin-right: 20px;
}

.navbar__menu > a {
    color: white;
    text-decoration: none !important;
    margin: 0 25px;
    font-size: 16px;
    padding: 5px;
}

.navbar__menu > a:hover {
    border-bottom: 2px solid white;
}

@media(max-width: 768px) {
    header {
        width: 100vw;
    }

    .navbar {
        justify-content: space-between !important;
    }

    .dropdown__menu {
        display: block !important;
    }

    .navbar__menu {
        display: none;
    }
}



